@use '../abstracts/variables' as *;

/* General Elements */

html {
  scroll-behavior: smooth;
  
}

body {
  position: relative;
  background-color: $background-100;
  color: $hight-contrast-color;
  font-family: "Inter", sans-serif;
}

body::-webkit-scrollbar {
  background-color: $background-200;
}

body::-webkit-scrollbar-thumb {
  background: $accent-color;
  border-radius: 1em;
}

section {
  max-width: 1440px;
  margin: 0 auto;
  border-top: 0;
}

button {
  letter-spacing: 0.05em;
  background: $accent-color;
  font-weight: 600;
  padding: 0.5em 0.825em;
  color: $hight-contrast-color;
  border: none;
  border-radius: 0.15rem;
  cursor: pointer;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.5);
 }

/* Utility Classes */

.rounded-corners {
  border-radius: 0.8135rem;
}

.box-shadow {
  box-shadow: 20px 20px 8px rgba(0, 0, 0, 0.75);
}

@media screen and (min-width: 1370px) {
  html {
    font-size: 22px;
  }
}
