@use "../abstracts/variables" as *;

#about {
  display: grid;
  place-items: center;
  max-width: none;
  padding-block: 5em 0;
}

.about {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 4em;
  width: 100%;
  &__column-1 {
    position: absolute;
    display: flex;
    justify-content: right;
    top: 0;
    height: 100%;
    min-width: 100vw;
    background: $gradient-test-2;
    .about__background {
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url("../assets/shuffled.png");
      background-attachment: fixed;
      background-position: initial;
    }
  }
  &__column-2 {
    position: relative;
    z-index: 1;
    width: 85%;
    padding: 2em;
    background: $background-200;
    border-radius: 1rem;
  }
  &__title {
    font-size: 1.25rem;
    color: $accent-text;
    padding-bottom: 0.75em;
    border-bottom: 2px solid $accent-text;
  }
  &__description {
    margin-block: 2em;
    position: relative;
  }
  &__img-container--mobile {
    position: relative;
    clip-path: circle();
    min-width: 10rem;
    min-height: 10rem;
    margin: 1em auto 2em auto;
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: $gradient-test-2;
      clip-path: circle();
    }
  }
  &__img {
    position: relative;
    z-index: 2;
    height: 32.5em;
    scale: 1.135;
    translate: -12.5% -6.25%;
    display: none;
    max-width: none;
  }
  &__img--mobile {
    position: absolute;
    translate: -50% -50%;
    transform: translateY(27.5%) translateX(-25%);
    width: 100vw;
    min-width: 300px;
    max-width: min(110%, 450px);
    rotate: -5deg;
    top: 50%;
    left: 50%;
  }
  &__btn {
    margin-top: 2em;
  }
}

@media screen and (min-width: 1050px) {
  #about {
    height: 100svh;
  }

  .about {
    max-width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: initial;
    padding-block: 0;
    > div {
      width: 50%;
    }
    &__column-1 {
      position: initial;
      min-width: initial;
    }
    &__column-2 {
      position: initial;
      z-index: 1;
      width: initial;
      height: 100%;
      padding: 4em;
      border-radius: 0%;
    }
    &__description {
      width: 50ch;
      font-size: 0.8135rem;
    }
    &__title {
      width: 14em;
      font-size: 1.5rem;
    }
    &__img {
      display: block;
    }
    &__img-container--mobile {
      display: none;
    }
    &__img--mobile {
      display: none;
    }
  }
}