@use "../abstracts/variables" as *;

.main-nav__mobile {
  position: fixed;
  z-index: 3;
  width: 100%;
  padding: 0.5em 0.5em;
  font-size: 2.5rem;
  color: $hight-contrast-color;
  display: flex;
  justify-content: space-between;
  &-logo {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.1em;
    color: $hight-contrast-color;
    cursor: pointer;
    user-select: none;
    z-index: 1;
    &-img-container {
      margin: 0 auto;
      border-radius: 15px;
      padding-inline: 0.2em 0.25em;
      text-align: center;
      background: $accent-color;
      font-weight: 900;
      font-style: italic;
      line-height: 1em;
      font-size: 2rem;
    }
    &-subtext {
      position: relative;
      top: 1px;
      font-size: 0.75rem;
      line-height: 1em;
    }
  }
}

@media screen and (min-width: 1050px) {
  .main-nav__mobile {
    display: none;
  }
}