@use "../abstracts/variables" as *;

.main-nav {
  max-width: 1950px;
  height: 7.5vh;
  margin: 0 auto;
  padding-inline: 3em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  background: $card-gradient-100;
  display: none;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8125rem;
  font-weight: 300;
  &__logo {
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25em;
    cursor: pointer;
    user-select: none;
    color: $hight-contrast-color;
    &-img-container {
      border-radius: 0.75em;
      padding-inline: 0.2em 0.25em;
      text-align: center;
      background: $accent-color;
      font-weight: 900;
      font-style: italic;
      line-height: 1em;
      font-size: 2.1rem;
    }
    &-subtext {
      position: relative;
      top: 1px;
      line-height: 1em;
    }
  }
  &__menu {
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 100%;
    text-transform: uppercase;
    &-item {
      transition: 0.2s ease;
    }
    &-item > a {
      text-decoration: none;
    }
    &-item:hover {
      color: $accent-text;
      padding-inline: 1.25em;
      border-inline: 2px solid $accent-text;
      transition: 0.2s ease;
    }
  }
  &__languages-toggler {
    width: 7%;
    margin: 0 auto;
    margin-right: 1em;
    padding-inline: 0.2em;
    display: flex;
    justify-content: center;
    gap: 0.5em;
    background: $accent-color;
    border-radius: 20px;
    > img {
      width: 2.15em;
      height: 2.15em;
      cursor: pointer;
    }
  }
  &__theme-toggler {
    width: 7%;
    display: flex;
    gap: 0.5em;
    .theme-icon-1 {
      background: $theme-gradient-1;
      clip-path: circle();
      width: 2.15em;
      height: 2.15em;
      cursor: pointer;
    }
    .theme-icon-2 {
      @extend .theme-icon-1;
      background: $theme-gradient-2;
    }
  }
}

.nav-container {
  position: sticky;
  top: 0%;
  z-index: 10;
  background: $card-gradient-100;
  box-shadow: 20px 20px 22px -4px rgba(0, 0, 0, 0.5);
}

.inactive {
  filter: grayscale(100%);
}

@media screen and (min-width: 1050px) {
  .main-nav {
    display: flex;
  }
}

// @media screen and (min-width: 1050px) and (max-width: 1250px) {
//   .main-nav {
//     font-size: 0.675rem;
//     &__logo {
//       font-size: 0.6135rem;
//       &-img-container {
//         font-size: 1.75rem;
//       }
//     }
//   }
// }

// @media screen and (min-width: 1370px) {
//   .main-nav {
//     max-width: 1600px;
//     height: 3.5em;
//     font-size: 0.7rem;
//     &__logo{
//       &-img-container {
//         font-size: 1.75rem;
//       }
//       &-subtext {
//         font-size: 0.7rem;
//       }
//     }
//   }
// }

