@use "../abstracts/variables" as *;

.project-slider {
  height: 100svh - 6svh;
  display: none;
  place-items: center;
  max-width: none;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 55em;
    width: min(120em, 1600px);
    padding: 1.5em;
    border: 0.1em solid $accent-text;
    border-radius: 0 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    font-size: 0.65rem;
  }
  &__header {
    position: relative;
    width: 47.5%;
    padding: 2.75em 3em;
    margin-block: 0em 2.25em;
    display: flex;
    flex-direction: column;

    &-label {
      position: absolute;
      top: 0.25em;
      left: -1em;
      display: flex;
      flex-direction: column;
      gap: 0.25em;
      padding: 0.25em 0.15em;
      background: var(--accent-color, $accent-color);
      border-radius: 0.25em;
      color: whitesmoke;
      font-size: 1.75rem;
    }
    &-title {
      font-size: 2rem;
    }
    &-subtext {
      max-width: 75ch;
      margin-top: 2em;
    }
    &-links {
      margin-top: 2.5em;
      color: $hight-contrast-color;
      a {
        padding: 0.25em 0.75em;
        border-radius: 0.5em;
        box-shadow: 7.5px 7.5px 5px rgba(0, 0, 0, 0.25);
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
        background-color: var(--accent-color, $accent-text);
      }
    }
  }
  &__slider-controls {
    position: absolute;
    top: 32%;
    display: flex;
    justify-content: space-between;
    width: 16em;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.5);
    transform: scaleY(2);
    cursor: pointer;
    &-arrow-right:hover,
    &-arrow-left:hover {
      scale: 1.25;
      color: var(--accent-color, $accent-text);
    }
    &-arrow-left,
    &-arrow-right {
      user-select: none;
    }
  }
  &__description {
    width: 47.5%;
    min-height: 13.5em;
    font-size: 0.75rem;
    padding: 1em;
    line-height: 1.75em;
    border-left: 7.5px solid var(--accent-color, $accent-text);
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(3px);
    border-radius: 0 2rem;
    p {
      max-width: 75ch;
    }
  }
  &__aside {
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 17em;
    height: 30em;
    background: $background-300;
    padding: 2.5em 1.5em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    > h3 {
      font-size: 1rem;
    }
    &-details {
      margin-block: 1.5em;
      display: flex;
      flex-direction: column;
      gap: 1em;
    }
    &-link {
      color: var(--accent-color, $accent-text);
      text-decoration: none;
      margin-top: 2em;
    }
  }
  &__slider-markers {
    position: absolute;
    bottom: -4%;
    right: 50%;
    transform: translateX(50%);
    display: flex;
    gap: 0.5em;

    .slider-marker {
      width: 1rem;
      height: 0.2rem;
      background: rgba($hight-contrast-color, 0.3);
    }
    .active {
      background: $hight-contrast-color;
    }
  }
}

.links__list {
  display: flex;
  gap: 3em;
}

.last-item {
  margin-left: 45%;
}

.divider {
  border: 3px solid var(--accent-color, $accent-text);
  width: 15%;
  margin-top: 1.25em;
}

.glass-card {
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.18);
}

@media screen and (min-width: 1050px) {
  .project-slider {
    display: grid;
  }
}
