@use "../abstracts/variables" as *;

.accordion {
  margin: 0 auto;
  width: 90%;
  border: 1px solid $accent-text;
  border-radius: 0;
  &__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    padding: 1em 1.25em;
    border-bottom: 1px solid $accent-text;
    min-height: 5em;
    background: rgba(0, 0, 0, 0.75);
    h2 {
      font-size: 1.25rem;
    }
    &-icon {
      display: grid;
      place-content: center;
      width: 1em;
      height: 1em;
    }
    svg {
      font-size: 1.5rem;
      transition: 0.35s ease-in-out;
      width: 1em;
      height: 1em;
    }
  }
  &__input {
    display: none;
    & + label {
      width: 1.5rem;
      height: 1.5rem;
      transition: 0.35s ease-in-out;
    }
    & + label > svg {
      max-width: 100%;
      display: block;
    }
    &:checked + label {
      transition: 0.35s ease-in-out;
      rotate: 180deg;
    }
  }
  &__content {
    display: none;
    flex-direction: column;
    gap: 1em;
    padding: 2em 2em 4em 2em;
    border-bottom: 1px solid $accent-text;
    background: rgba(0, 0, 0, 0.75);
    .divider {
      width: 100%;
      border-width: 1px;
      margin-block: 1em 0;
    }
    img {
      width: 100%;
      margin: 0 auto;
      border: 1px solid $accent-text;
    }
    p {
      margin-block: 1em;
    }
    li {
      list-style: disc;
      margin-left: 1.5em;
    }
    a {
      margin-top: 2em;
      button {
        width: 100%;
      }
    }
  }
}

.active-item {
  display: flex;
  input[type="radio"]:checked + label {
    transform: rotate(180deg);
  }
}

.active-icon {
  transform: rotate(180deg);
  transition: 0.35s ease-in-out;
}

@media screen and (min-width: 1025px) {
  .accordion {
    display: none;
  }
}
