@use "../abstracts/variables" as *;
.slider-carousel {
  &__container {
    padding-block: 5em;
  }
  &__display {
    display: flex;
    gap: 1em;
    padding: 2em 5em;
    &-left {
      width: 50%;
      display: grid;
      justify-items: end;
      align-items: center;
      img {
        max-width: 80%;
        box-shadow: 20px 20px 4px rgb(0, 0, 0, 0.75);
      }
    }
    &-right {
      width: 50%;
      padding: 2em;
    }
    &-title {
      font-weight: 900;
      font-size: 1.75rem;
    }
    &-description {
      margin-block: 1.5em 1em;
      max-width: 50ch;
    }
    &-details {
      &-list {
        margin-left: 1.25em;
      }
      &-item {
        list-style: disc;
        font-size: 0.9rem;    
      }
    }
  }
  &__selector {
    position: relative;
    display: flex;
    gap: 1em;
    width: min(71%, 63em);
    margin: 0 auto;
    padding-block: 0 1em;
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    &-slide {
      min-width: 10em;
      img {
        display: block;
        height: 8em;
        border: 1px solid $accent-text;
        box-shadow: 10px 10px 4px rgb(0, 0, 0, 0.75);
      }
    }
    &-controls {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 30%;
      margin: 0 auto;
      &-arrow {
        font-size: 0.75rem;
        transform: scaleY(1.5);
        user-select: none;
        cursor: pointer;
      }
      &-markers {
        display: flex;
        gap: 0.5em;
      }
      &-marker {
        cursor: pointer;
        width: 0.75rem;
        height: 0.15rem;
        border-radius: 1em;
        background: rgba($hight-contrast-color, 0.5);
      }
    }
      
  }
}

.active {
  background: $hight-contrast-color;
  height: 0.2em ;
}
